/* .nike__celu{
    object-fit: cover;
    background-color: red;
}
.navBar__Flex{
    display: block;
    justify-content: space-between;
}

.item__list{
    color: red;
}

.categories{
    
    border: 1px solid red;

    

} */